<div>test</div>

{% schema %}
{
  "name": "ZZ Sync Test",
  "settings": [
    { "type": "range", "id": "asterisk_count", "label": "Number of asterisks", "min": 1, "max": 8, "step": 1, "default": 4 }
  ]
}
{% endschema %}
